
<h5 class=" title"> From: <%= @note.book.name %></h5>
<div class="card">
  <h5 class="card-header"><%= @note.title %></h5>
  <div class="card-body">
    <%= @note.content %>
  </div>  
</div>
<div class="mt-2 mb-4">
<%= link_to 'Edit', edit_note_path(@note), :class => "btn btn-dark btn-block" %>
</div>
